<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
    <h1>Bienvenue sur votre compte, <%= username %></h1>

    <br/><br/><br/><a href="http://localhost:3000/apiauth/userDetails">Accéder aux détails de l'utilisateur</a>
    <a href="http://localhost:3000/apiauth/adminPanel">Accéder au panel Admin</a>
    
    <br/><br/><br/><a href="http://localhost:3000/apiauth/logout">Se déconnecter</a>
</body>
</html>