<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Compte</title>
</head>
<body>
    <h1>Bienvenue sur votre compte, <%= username %></h1>

    
    <br/><br/><br/><a href="http://localhost:3000/apiauth/logout">Se déconnecter</a>
</body>
</html>