<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Page de Départ</title>
</head>
<body>
    <h1>Bonjour <%= nom %> !</h1>

    <a href="http://localhost:3000/connect">Se connecter</a>
</body>
</html>