<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Page de Départ</title>
</head>
<body>
    <h1>Bienvenue sur le meilleur site de connexion !</h1>

    <a href="http://localhost:3000/apiauth/register">S'inscrire</a><br/><br/>
    <a href="http://localhost:3000/apiauth/login">Se connecter</a>
</body>
</html>