<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Page de Connexion</title>
</head>
<body>
    <h2>S'inscrire</h2>
    <form action="http://localhost:3000/apiauth/register" method="POST">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" value=""><br>
        <label for="password">Password:</label><br>
        <input type="text" id="password" name="password" value=""><br><br>
        <input type="submit" value="Submit">
    </form>
    <br /><br /><br />
    <a href="http://localhost:3000">Retour</a>

</body>
</html>