<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Détails de l'utilisateur</title>
</head>
<body>
    <h1>Voici les détails de ce compte.</h1>
    <h3>Nom : <%= username %></h3>
    <h3>Role : <%= role %></h3>

    
    <br/><br/><br/><a href="http://localhost:3000/apiauth/dashboard">Revenir sur le Dashboard</a>
</body>
</html>